body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 80%;
    outline: none;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #efefef;
    padding-left: 10px;
}

button {
    width: 83%;
    outline: none;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: #fff;
}

#download-link {
    width: 83%;
    outline: none;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: #fff;
}

#download-link {
    display: none;
}
